{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
{% endblock %}
{% block title %} Citizen Feedback Form {% endblock %}


{% block content %}
<center>
<h3>Total Feedbacks: </h3>
<h2>0</h2>
<br>
<br>
<form method="post">
    {% csrf_token %}

    <div class="labels">
        <label for="dropdown">
        </label>
        <br><br>
    </div>
    <div class="input-tab">
        <select id="dropdown" name="site" required>
            <option disabled value selected>Select an option</option>
            <ul class="dropdown-menu dropdown-menu-dark">
                <option><a class="dropdown-item active"  >Ahmedabad</a></option>
                <option><a class="dropdown-item"  >Amreoption</a></option>
                <option><a class="dropdown-item"  >Anand</a></option>
                <option><a class="dropdown-item"  >Bharuch</a></option>
                <option><a class="dropdown-item"  >Bhavnagarn</a></option>
                <option><a class="dropdown-item"  >Bhujn</a></option>
                <option><a class="dropdown-item"  >Botad</a></option>
                <option><a class="dropdown-item"  >Dahod</a></option>
                <option><a class="dropdown-item"  >Deesa</a></option>
                <option><a class="dropdown-item"  >Gandhidham</a></option>
                <option><a class="dropdown-item"  >Gandhinagar</a></option>
                <option><a class="dropdown-item"  >Godhra</a></option>
                <option><a class="dropdown-item"  >Gondal</a></option>
                <option><a class="dropdown-item"  >Jamnagar</a></option>
                <option><a class="dropdown-item"  >Junagadh</a></option>
                <option><a class="dropdown-item"  >Jetpur</a></option>
                <option><a class="dropdown-item"  >Kalol</a></option>
                <option><a class="dropdown-item"  >Mehsana</a></option>
                <option><a class="dropdown-item"  >Morbi</a></option>
                <option><a class="dropdown-item"  >Nadiad</a></option>
                <option><a class="dropdown-item"  >Navsari</a></option>
                <option><a class="dropdown-item"  >Palanpur</a></option>
                <option><a class="dropdown-item"  >Patan</a></option>
                <option><a class="dropdown-item"  >Porbandar</a></option>
                <option><a class="dropdown-item"  >Rajkot</a></option>
                <option><a class="dropdown-item"  >Surat</a></option>
                <option><a class="dropdown-item"  >Surendranagar</a></option>
                <option><a class="dropdown-item"  >Vadodara</a></option>
                <option><a class="dropdown-item"  >Valsad</a></option>
                <option><a class="dropdown-item"  >Vapi</a></option>
                <option><a class="dropdown-item"  >Veraval</a></option>
                
              </ul>
        </select>
    </div>
    <br/>
    <input style="
                  background: #243b55;
                  color: #fff;
                  padding: 5px;
                  border: 0;
                " type="submit" value="Get QR" />
</form>
<br>

{% if show_qr %}
<img src="/static/images/qrcodes/{{city}}.png" alt="{{ city }}" height="200px" width="200px">
{% endif %}

</center>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
{% endblock %}